.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fbfbfb;
  margin: 19rem 20rem;
  box-shadow: -0.1rem 0px 6.8rem 0.3rem rgba(0, 0, 0, 0.15);

  &__sidebar {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../../public/img/nat-6.jpg);
    background-size: cover;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 10rem;

    &-logo {
      width: 40%;
      margin: auto;
    }
  }
}

.timeline {
  background-color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 5rem;

  &__paragraph {
    &-1 {
      font-size: 1.2rem;
      padding-left: 9rem;
    }
    &-2 {
      font-size: 1.2rem;
      padding-left: 7rem;
    }
    &-3 {
      font-size: 1.2rem;
      padding-left: 6rem;
    }
    &-4 {
      font-size: 1.2rem;
      padding-left: 6.5rem;
    }
  }
  &__education {
    position: relative;
    padding-bottom: 10rem;
    border-top: 2px solid $color-grey-light-1;

    &-circle {
      &-1 {
        position: absolute;
        top: -10px;
        left: 4rem;
        border: 3px solid $color-primary-dark;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $color-primary-dark;
          transform: scale(1.5);
        }
        &::after {
          content: '2003';
          position: absolute;
          font-size: 1.5rem;
          top: 1.5rem;
          left: -1rem;
        }
      }
      &-2 {
        position: absolute;
        top: -1rem;
        left: 23rem;
        border: 3px solid $color-primary-dark;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $color-primary-dark;
          transform: scale(1.5);
        }

        &::after {
          content: '2009';
          position: absolute;
          font-size: 1.5rem;
          top: 1.5rem;
          left: -1rem;
        }
      }
      &-3 {
        position: absolute;
        top: -1rem;
        left: 41rem;
        border: 3px solid $color-primary-dark;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $color-primary-dark;
          transform: scale(1.5);
        }

        &::after {
          content: '2012';
          position: absolute;
          font-size: 1.5rem;
          top: 1.5rem;
          left: -1rem;
        }
      }
      &-4 {
        position: absolute;
        top: -1rem;
        left: 56rem;
        border: 3px solid $color-primary-dark;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $color-primary-dark;
          transform: scale(1.5);
        }

        &::after {
          content: '2015';
          position: absolute;
          font-size: 1.5rem;
          top: 1.5rem;
          left: -1rem;
        }
      }
      &-5 {
        position: absolute;
        top: -1rem;
        left: 76rem;
        border: 3px solid $color-primary-dark;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $color-primary-dark;
          transform: scale(1.5);
        }

        &::after {
          content: 'Now';
          position: absolute;
          font-size: 1.5rem;
          top: 1.5rem;
          left: -1rem;
        }
      }
    }
  }
}
