.portofolio {
  padding: 20rem 0;
  display: flex;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../public/img/nat-6.jpg);
  background-size: cover;
  position: relative;

  @include respond(tab-port) {
    display: block;
  }

  // @include respond(phone) {
  //   padding: 5rem 2rem 15rem 2rem;
  // }

  &__sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    width: 40rem;
    padding: 0 1rem 0 3rem;
    border-right: 0.1rem solid $color-primary-dark;
    & span {
      width: 8rem;
      height: 0.4rem;
      background: $color-primary-dark;
      display: block;
      margin-left: 0.3rem;
      border-radius: 10rem;
      margin-bottom: 3rem;

      @include respond(tab-port) {
        margin: 0 auto 3rem;
      }
    }

    @include respond(tab-port) {
      width: auto;
      text-align: center;
      padding: 0 3rem 0 3rem;
    }
  }
}
