.sliders-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 10rem;
  overflow: hidden;
}
